a:hover {
	cursor: pointer;
}

#glCanvas {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.sidenav {
  position: fixed;
  height: 100%;
  width: 160px;
  transition: right 0.3s;
  vertical-align: top;

  padding-top: 400px;
  top: 0;
  right: -200px;

  z-index: 2;
  opacity: 0.5;
}

.sidenav a {
  height: 40px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;

  font-family: "Roboto";
  font-weight: 500;
  color: #FF69B4;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#settings-gear {
  position: fixed;
  z-index: 3;
  bottom: 50;
  right: 50;

  width: 50px;
  height: 50px;
}

#settings-gear:hover {
  cursor: pointer;
}

.slidecontainer {
  display: none;
  opacity: 0;
  position: absolute;

  z-index: 1;
  width: 300px;
  height: 10px;

  top: 410px;
  right: 180px;

  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider {
  z-index: 1;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;

  background: #454545;
  outline: none;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 16px;
  border-radius: 2px;

  background: #FF69B4;
  cursor: pointer;
}

#palletescontainer {
  position: absolute;
  z-index: 1;
  top: 460px;
  right: 180px;
  opacity: 0%;

  -webkit-transition: .2s;
  transition: opacity .2s;
}

#newpalletecontainer {
  position: absolute;
  z-index: 1;
  top: 500px;
  right: 180px;
  opacity: 0%;

  -webkit-transition: .2s;
  transition: opacity .2s;
}

select {
  border: 1px solid white;
  background: none;
  color: white;
}

option {
  background-color: black;
  color: white;
}

input {
  border: 1px solid white;
  background: none;
  color: white;
}

.submit {
  border: 1px solid white;
  background: none;
  color: white !important;
  height: 12px !important; 
  width: 50px;
  padding-left: 5px !important;
  padding-top: 2px !important;
  padding-bottom: 2px;
  font-size: 0.85em !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgray;
}