app-gear {	
  position: absolute !important;
}

p {
  position: absolute !important;
  z-index: 3;
  bottom: 50px !important;
  right: 50px !important;

}

img {	
  width: 50px !important;
  height: 50px !important;
}

p:hover {
  cursor: pointer;
}