canvas{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#glCanvas {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
    top: 0;
    background-color: black;
}