<p>networkaudio works!</p>
<div>
    Device Names
    <ul>
        <li *ngFor='let devicename of availableDevices'>{{devicename}}</li>
    </ul>
</div>
<!--Websocket Controls-->
<div>
    <input #urlinput>
    <button class='connect' (click)="connectToAudioSource(urlinput.value)">
        Connect
    </button>
    <button #stop (click)="closeAudioSource()">
        Close
    </button>
</div>
<!--Audio Stream Controls-->
<div *ngIf="audioSourceConnected == true">
    <select #devicedrop>
        <option *ngFor="let devicename of availableDevices">
            {{devicename}}
        </option>
    </select>
    <button #startStream (click)="startAudioStream(devicedrop.value)">START AUDIO</button>
    <button #stopStream (click)="stopAudioStream()">STOP AUDIO</button>
</div>

<canvas #canvas width="600" height="300"></canvas>